body {
  background-color: white;
}

#navigation {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

#logo {
  height: 32px;
  width: 200px;
  margin-right: 300px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #2F281E;
  cursor: pointer;
}

nav ul li a:hover {
  color: #FF9900;
}

button {
  height: 46px;
  width: 110px;
  margin: 10px;
  border-radius: 4px;
}

.white-button {
  background-color: white;
  color: #2F281E;
  border: 1px solid #BCD0E5;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 300px;
}

.orange-button {
  background-color: #FF9900;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #BCD0E5;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#image {
  height: 100hv;
  width: 644px;
}

.content {
  color: #2F281E;
  font-size: 18px;
}


h2 {
  font-size: 44px;
}

.started {
  background-color: #FF9900;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#video {
  margin-left: 20px;
  text-decoration: none;
  color: #2F281E;
  font-size: 16px;
  cursor: pointer;
}

#video:hover {
  color: #FF9900;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2F281E;
}

#feature1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.feature-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
}

.icon {
  height: 50px;
  width: 51px;
}

#feature-title {
  font-size: 36px;
  margin-top: 30px;
}

.cta-button {
  background-color: #FF9900;
  color: white;
  border: none;
  height: 50px;
  width: 180px;
  font-size: 18px;
  cursor: pointer;
  ;
}