#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10 px;
}

#navigation nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navigation button {
  margin-left: 20px;
}

#navigation nav ul li {
  margin-left: 20px;
}

#navigation nav ul li a {
  color: black;
  text-decoration: none;
}

#navigation nav ul li a:hover {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.white-button {
  height: 46px;
  width: 110px;
  background-color: white;
  border-color: #BCD0E5;
}


.white-button:hover {
  background-color: bisque;
}

.orange-button {
  height: 46px;
  width: 110px;
  background-color: orange;
  border-color: #979797;
}

.orange-button:hover {
  background-color: bisque;
}

#logo {
  width: 187px;
  height: 32px;
  margin: left 20px;
  margin-right: auto;
}

header {
  background-color: none;
  text-align: center;
  padding: 40px;
}

#image {
  width: 605;
  height: 496px;
  margin-bottom: 20px;

}

h2 {
  color: #2F281E;
  margin: 20px;
  font-size: 44px;
  font-weight: bold;
}

p {
  color: #544837;
  font-size: 18px;
  margin-bottom: 30px;
}

.started {
  background-color: #FF9900;
  height: 63px;
  width: 173px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #FF9900;
  font-size: 16px;
  margin-left: 10px;
}