#navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10 px;
}

#navigation nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navigation button {
  margin-left: 20px;
}

#navigation nav ul li {
  margin-left: 20px;
}

#navigation nav ul li a {
  color: black;
  text-decoration: none;
}

#navigation nav ul li a:hover {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.white-button {
  height: 46px;
  width: 110px;
  background-color: white;
  border-color: #BCD0E5;
}


.white-button:hover {
  background-color: bisque;
}

.orange-button {
  height: 46px;
  width: 110px;
  background-color: orange;
  color: white;
  border-color: #979797;
}

.orange-button:hover {
  background-color: #979797;
}

#logo {
  width: 187px;
  height: 32px;
  margin: left 20px;
  margin-right: auto;
}


header {
  display: flow-root;
  background-color: none;
  text-align: left;
  padding: 40px;
}

.text {
  overflow: auto;
}


#image {
  width: 605;
  height: 496px;
  margin-left: 20px;
  float: right;

}

h2 {
  color: #2F281E;
  margin: 20px;
  font-size: 44px;
  font-weight: bold;
}

p {
  color: #544837;
  font-size: 18px;
  margin-bottom: 30px;
  margin: 20px;
}

.started {
  background-color: #FF9900;
  border-color: #979797;
  color: white;
  height: 63px;
  width: 173px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: backgraund-color 0.3s;
  margin: 20px;
}

.started:hover {
  background-color: #979797;
}

a {
  text-decoration: none;
  color: #FF9900;
  font-size: 16px;
  margin-left: 20px;
}

a:hover {
  color: #979797;
}

.section1 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#feature {
  text-align: center;
  padding: 20px;
}

h3 {
  margin-bottom: 20px;
}

.feature-block {
  display: inline-block;
  text-align: left;
  width: 240px;
  height: 178px;
  margin: 10px;
}

.icon {
  width: 51px;
  height: 50px;
  margin-bottom: 10px;
}

.cta-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #FF9900;
  color: white;
  border: #979797;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #979797;
}